<ion-view view-title="Send Item Details">
  <ion-content class="padding">
      <div>
       
       <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">What do you want to send?</span>
          <input type="text" placeholder="What do you want to send?">
        </label>
      </div>

        <div class="list card">
          <a href="#" class="item item-icon-left icon-right ion-chevron-right button-calm">
            <i class="icon ion-home"></i>
            Pocket
          </a>
        
          <a href="#" class="item item-icon-left icon-right ion-chevron-right button-calm">
            <i class="icon ion-ios-telephone"></i>
            Bag
          </a>
        
          <a href="#" class="item item-icon-left icon-right ion-chevron-right button-calm">
            <i class="icon ion-wifi"></i>
            Car
          </a>
        
          <a href="#" class="item item-icon-left icon-right ion-chevron-right button-calm">
            <i class="icon ion-card"></i>
            Van
          </a>
        
        </div>        

      </div>
  </ion-content>
</ion-view>