<ion-view view-title="Send Item Details">
  <ion-content class="padding">
    <div>
       
       <div class="list card">
          <div class="item item-avatar">
            <img src="mcfly.jpg">
            <h2>Send Order Confirmation</h2>
            <p>Are you ok with this request ?</p>
          </div>
        
          <div class="item item-body">
            <img class="full-image" src="delorean.jpg">
            <p>
              This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
              the content is from a card-body consisting of an image and paragraph text. The footer
              consists of tabs, icons aligned left, within the card-footer.
            </p>
          </div>
        </div>       
        <div>
           <a class="button button-full button-positive" href="#/tab/send-item">Continue</a>
        </div>
        
    </div>
  </ion-content>
</ion-view>